# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Database (ignore only if you don't want to upload your SQLite DB)
*.db
# MLflow
mlruns/

# OS Files
.DS_Store
Thumbs.db